@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Classic Garage </h1>
    <p class="lead"> Jest platformą dzięki, której możemy zarządzać swoimi samochodami lub je sprzedać.</p>
   
</div>

<div class="center">
    <div class="row">
        <div class="col-md-4">
            <h2>Zobacz oferty Samochodów</h2>
            <p>
                Możesz przeszukać oferty, spośród dodanych przez użytkowników.
            </p>
            <p><a class="btn btn-default" href="@Url.Action( "Index", "Adverts")">Przejrzyj oferty &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Dodaj samochody</h2>
            <p>Aby móc zarządzać swoimi samochodami, dodawać naprawy lub inne! </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>

    </div>
</div>
